/.idea/
/node_modules/
/.yo-rc.json
/generators/*/*.js
/generators/*/*.js.map
/bin/*.js
/bin/*.js.map
/util/**/*.js
/util/**/*.js.map
/test/**/*.js
/test/**/*.js.map
/*.tgz
/types/
/.nyc_output/
/coverage/
/.travis-tmp
