/.idea/
/node_modules/
/.yo-rc.json
/generators/*/*.ts
/generators/*/*.js.map
/util/**/*.ts
/util/**/*.js.map
/bin/*.ts
/bin/*.js.map
/.nycrc
/test/
/*.tgz
/.nyc_output/
/coverage/
/.travis-tmp
/.mkdir-travis-tmp.js
